<% if @past_events.any? %>
  <p> Past events: </p>
  <%= render 'shared/table', object: @past_events %>
<% end %>

<% if @upcoming_events.any? %>
  <p> Upcoming events: </p>
  <%= render 'shared/table', object: @upcoming_events %>
<% end %>
